<%- include("partials/mainPageHeader"); -%>
<section class="bigSection">
  <section class="sectionOne">
    <h2>Hello this is my Task App</h2>

    <div class="container">
      <div>
        <p>If you don't have an account please signUp here</p>
        <a class="singupBtn" href="/signup">SignUp</a>
      </div>
      <div>
        <p>If you have an account please login</p>
        <a class="loginBtn" href="/login">Login</a>
      </div>
    </div>
  </section>

  <section class="sectionTwo">
    <article>
      <figure>
        <img src="/public/Screenshot_9.png" alt="" />
      </figure>
    </article>
  </section>
</section>

<%- include("partials/footer"); -%>
