* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #080710;
}
form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  margin: 10px;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
}

label {
  width: 30px;
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

h3 {
  margin: 10px;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
}

.addTaskBtn {
  margin-bottom: 10px;
  margin-left: 23px;
  margin-top: 10px;
  background-color: #ffffff;
  color: #080710;
  width: 228px;
  height: 60px;

  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.items-conteiner {
  border: 5px;
  margin: auto;
  /* margin-bottom: 10px; */
  width: 90%;
  padding: 10px;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
textarea {
  resize: none;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

form div p {
  display: block;
}
.home-pageForm {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  margin: auto;
  margin-top: 5%;
  width: min(100%, 350px);
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.descriptionT {
  flex: 1; /* make the task name take up remaining space */
  margin-bottom: 20px; /* add some spacing between the task details */
}

.allTh3 {
  margin-bottom: 20px;
  font-size: 40px;
}
.headerh3 {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: space-around;
}

.all-tasks-container {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  margin: auto;
  margin-top: 5%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: min(100%, 350px);
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.allTaskh3 {
  font-size: 15px;
  font-style: italic;
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid plum;
}

.notask {
  font-size: 25px;
  margin: 10px;
}
.inner-inner-div {
  display: flex;
  box-sizing: border-box;
}
.inner-div-container {
  height: 600px;
  overflow-y: scroll;
}
/* @media screen and (min-width: 320px) {
  .home-pageForm,
  .all-tasks-container {
    width: min(100%, 600px);
    padding: 10px;
  }
  .addTaskBtn {
    width: 240px;
    height: 60px;
    margin-left: 10%;
  }
} */

@media screen and (min-width: 768px) {
  .home-pageForm,
  .all-tasks-container {
    width: min(100%, 600px);
  }
  .addTaskBtn {
    width: 100px;
    height: 60px;
    margin-left: 74%;
  }
}

@media screen and (min-width: 992px) {
  .home-pageForm,
  .all-tasks-container {
    width: min(100%, 900px);
  }
  .addTaskBtn {
    width: 100px;
    height: 60px;
    margin-left: 82%;
  }
  .headerh3 {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .allTaskh3 {
    font-size: 17px;
  }
}
@media screen and (min-width: 1300px) {
  .home-pageForm,
  .all-tasks-container {
    width: min(100%, 1200px);
  }
  .addTaskBtn {
    width: 100px;
    height: 60px;
    margin-left: 85%;
  }
  .allTaskh3 {
    font-size: 22px;
  }
  .headerh3 {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
  }
}
